{% load static %}
<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Free responsive business website template</title>
      <link rel="stylesheet" href="{% static 'css/components.css' %}">
      <link rel="stylesheet" href="{% static 'css/icons.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsee.css' %}">
      <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
      <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">
      <!-- CUSTOM STYLE -->      
      <link rel="stylesheet" href="{% static 'css/template-style.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Barlow:100,300,400,700,800&amp;subset=latin-ext" rel="stylesheet">  
      <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>    
   </head>

   <!--
    You can change the color scheme of the page. Just change the class of the <body> tag. 
    You can use this class: "primary-color-white", "primary-color-red", "primary-color-orange", "primary-color-blue", "primary-color-aqua", "primary-color-dark" 
    -->
    
    <!--
    Each element is able to have its own background or text color. Just change the class of the element.  
    You can use this class: 
    "background-white", "background-red", "background-orange", "background-blue", "background-aqua", "background-primary" 
    "text-white", "text-red", "text-orange", "text-blue", "text-aqua", "text-primary"
    -->

   <body class="size-1520 primary-color-red background-dark">
      <!-- HEADER -->
      <header class="grid">
        <!-- Top Navigation -->
        <nav class="s-12 grid background-none background-primary-hightlight">
           <!-- logo -->
           <a href="/" class="m-12 l-3 padding-2x logo">
              <img src="{% static 'img/logo.svg' %}">
           </a>
           <div class="top-nav s-12 l-9"> 
              <ul class="top-ul right chevron">
                <li><a href="{% url 'bir:home_page' %}">Home</a></li>
                <li><a href="{% url 'bir:about_page' %}">About Us</a></li>
                <li><a href="{% url 'bir:services_page' %}">Services</a></li>
                <li><a href="{% url 'bir:gallery_page' %}">Gallery</a></li>
                <li><a href="{% url 'bir:contact_page' %}">Contact</a></li>
              </ul>
           </div>
        </nav>
      </header>
      
      <!-- MAIN -->
      <main role="main">
        <!-- TOP SECTION -->
        <header class="grid">
        	<div class="s-12 padding-2x">
            <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">Our References</h1>
            <p class="text-size-20 text-white text-center center text-uppercase">Con nonummy sem integer interdum volutpat dis eget eligendi aliquip dolorum magnam. Iriure duis autem vel<br> eum dolor in hendrerit in vulputate velit esse molestie consequat.</p>
          </div>
        </header>
      
        <section class="grid margin">
          <img class="s-12 m-6 margin-bottom" src="{% static 'img/portfolio/thumb-01.jpg' %}" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="{% static 'img/portfolio/thumb-02.jpg' %}" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="{% static 'img/portfolio/thumb-03.jpg' %}" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="{% static 'img/portfolio/thumb-04.jpg' %}" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="{% static 'img/portfolio/thumb-05.jpg' %}" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="{% static 'img/portfolio/thumb-06.jpg' %}" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="{% static 'img/portfolio/thumb-07.jpg' %}" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="{% static 'img/portfolio/thumb-08.jpg' %}" alt=""/>
        </section>
        
      </main>
      
       
      <!-- FOOTER -->
      <footer class="grid">
        <!-- Footer - top -->
        <!-- Image-->
        <div class="s-12 l-3 m-row-3 margin-bottom background-image" style="background-image:url(img/img-04.jpg)"></div>
        
        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
           <h2 class="text-strong text-uppercase">Who We Are?</h2>
           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
        </div>
        
        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
           <h2 class="text-strong text-uppercase">Where We Are?</h2>
           <img class="full-img" src="{% static 'img/map.svg' %}" alt=""/>
        </div>
        
        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
           <h2 class="text-strong text-uppercase">Contact Us</h2>
           <p><b class="text-primary margin-right-10">P</b> 0800 4521 800 50</p>
           <p><b class="text-primary margin-right-10">M</b> <a class="text-primary-hover" href="mailto:contact@sampledomain.com">contact@sampledomain.com</a></p>
           <p><b class="text-primary margin-right-10">M</b> <a class="text-primary-hover" href="mailto:office@sampledomain.com">office@sampledomain.com</a></p>
        </div>
        
        <!-- Footer - bottom -->
        <div class="s-12 text-center margin-bottom">
          <p class="text-size-12">Copyright 2019, Vision Design - graphic zoo</p>
          <p class="text-size-12">All images have been purchased from Bigstock. Do not use the images in your website.</p>
          <p><a class="text-size-12 text-primary-hover" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a></p>
        </div>
      </footer>                                                                    
      <script type="text/javascript" src="{% static 'js/responsee.js' %}"></script>
      <script type="text/javascript" src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/template-scripts.js' %}"></script>

   </body>
</html>